
*{
    margin: 0;
    padding:0;
    color: white;

}
#navbar{
    min-width: 100vh;
    height:60px ;
    background-color: #0f1111;
}
button{
    background-color:#f08804;
}
#logo{
    font-size: 25px;
    color:#f08804;
}
 a{
    text-decoration: none;
    margin-right:200px ;
}